{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar field w-75 w-lg-50">
        <input id="search_input" class="search_input" type="text" name="" placeholder="Cari buku, penulis, genre...">
        <span id="search_button_bookshelf" class="content rounded-circle"><button
            class="fas fa-search w-100"></button></span>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-center mt-3">
    <button onclick="getBookshelf(1)" id="dipinjam-btn" class="rounded-start-pill select">Dipinjam</button>
    <button onclick="getBookshelf(0)" id="dibeli-btn" class="rounded-end-pill ms-3 select">Dibeli</button>
  </div>
  <a id="back-to-top" href="#" class="btn btn-light btn-lg content back-to-top px-lg-4 py-lg-3 z-0" role="button"><i
      class="fas fa-chevron-up"></i></a>
  <div class="row justify-content-center p-2" id="bookshelf_cards"></div>
</div>

<style>
  div .container {
    margin-top: 4.5em;
    margin-bottom: 1em;
  }

  button.select {
    width: 10rem;
  }
</style>

<script>
  $(document).ready(function () {
    $(window).scroll(function () {
      if ($(this).scrollTop() > 50) {
        $('#back-to-top').fadeIn();
      } else {
        $('#back-to-top').fadeOut();
      }
    });
    // scroll body to 0px on click
    $('#back-to-top').click(function () {
      $('body,html').animate({
        scrollTop: 0
      }, 100);
      return false;
    });
  });

  async function searchBookshelf(q) {
    books = await fetch(`{% url 'bookshelf:search_bookshelf_items'%}` + `?borrow=${is_borrow}&q=${q}`).then((res) => res.json());
    await refreshCards(books);
  }

  search_button = document.getElementById("search_button_bookshelf");
  console.log(search_button)
  search_button.addEventListener("click", async () => {
    query = document.getElementById("search_input").value;
    await searchBookshelf(query)
  })

  input = document.getElementById("search_input");
  console.log(input)
  input.addEventListener("keypress", async (event) => {
    // If the user presses the "Enter" key on the keyboard
    if (event.key === "Enter") {
      // Cancel the default action, if needed
      event.preventDefault();
      query = document.getElementById("search_input").value;
      await searchBookshelf(query)
    }
  });




  async function getBookshelf(q) {
    books = await fetch("{% url 'bookshelf:get_bookshelf_items' %}" + `?borrow=${q}`).then((res) => res.json());
    await refreshCards(books, q);
  }

  async function refreshCards(books, q) {
    let htmlString = ""
    if (q === 1) {
      is_borrow = 1
      document.getElementById("dibeli-btn").style = "box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;"
      document.getElementById("dipinjam-btn").style = "box-shadow: inset 2px 2px 5px #babecc,inset -5px -5px 10px #ffffff73;"
    } else if (q === 0) {
      is_borrow = 0
      document.getElementById("dibeli-btn").style = "box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;"
      document.getElementById("dipinjam-btn").style = "box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;"
    }
    books.forEach((book) => {
      htmlString += `<div id="book_card" class="content book_card col-md-5 mx-3 my-3 position-relative" style="padding: 1.1rem 1.5rem">
        <div class="card-body h-100 d-flex flex-column">
          <div>
            <h5 class="card-title">${book.book.name}</h5>
            <h6 class="card-subtitle text-light-emphasis mt-3">Penulis: ${book.book.author}</h6>
            <h6 class="card-subtitle text-light-emphasis mt-2">Tahun: ${book.book.year}</h6>
            <h6 class="card-subtitle text-light-emphasis mt-2">Genre: ${book.book.genre}</h6>
          </div>
          <div class="mt-auto">
            ${q === 1 ? `<p class="w-100 text-center">
              Tanggal pengembalian:<br>${book.end_date}
            </p>` : ''}
            ${q === 1 ? `<button class="w-100 text-center">
              Kembalikan
            </button>` : ''}
            <a href="{% url 'reviewbuku:show_review_buku' %}?id=${book.book.id}" >
            <button class="w-100 text-center mt-3">
              Review
            </button>
          </a>
          </div>
        </div>
      </div>`
    })
    console.log(is_borrow)
    document.getElementById("bookshelf_cards").innerHTML = htmlString
  }

  is_borrow = 1
  getBookshelf(1)
</script>
{% endblock content %}